@model CRUD_Operations.Models.EmployeeModel

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalle De Empleado</h3><hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEmployee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFamilyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeFamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "UpdateEmployee", new { IdEmployee = Model.IdEmployee }) |
    @Html.ActionLink("Regresar al listado", "SearchEmployee")
</p>