@model IEnumerable<CRUD_Operations.Models.EmployeeModel>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista De Empleados</h3>

<p>
    @Html.ActionLink("Registrar empleado", "RegisterEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeFamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    @Html.HiddenFor(model => item.IdEmployee)

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeFamilyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.ActionLink("Editar", "UpdateEmployee", new { IdEmployee = item.IdEmployee }) |
            @Html.ActionLink("Detalle", "DetailEmployee", new { IdEmployee = item.IdEmployee }) |
            @Html.ActionLink("Eliminar", "DeleteEmployee", new { IdEmployee = item.IdEmployee }, new { OnClick = "return confirm('Está seguro que desea eliminar esto?');" })
        </td>
    </tr>
}
</table>